# MacOS filesystem metadata
.DS_Store

# Shell / user history
.bash_history
.inputrc
.profile

# Local app/cache/config data
.cache/
.config/
.local/
.cursor/

# Secrets and environment files
*.env

# Configs
*.conf

# Reference
reference/